<p>article show page</p>
<hr>
<p>permalink = <%= @article.permalink %></p>
<p>title = <%= @article.title %></p>
<p>content = <%= @article.content %></p>
<p>created at = <%= @article.created_at %></p>
